:root {
  --background: #00030C;
  --blue: #167BF7;
  --grey: #C0C0C0;
  --light-grey: #F9F9F9;
  --light-blue: #3C92FA;
  --red: #EC2F46;
  --white: #FFF;


  --inter: 'Inter', sans-serif;
}

html {
  background: var(--background);
  color: var(--white);
  font-family: var(--inter);
  font-size: 62.5%;
  font-weight: 400;
}

.container {
  align-items: center;
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;  
}

.container__title {
  font-size: 4.8rem;
  font-weight: 700;
  margin-bottom: .8rem;
}

.container__paragraph {
  color: var(--light-grey);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  width: 90%;
}

.container__image-container {
  margin: 0 3rem 0 6rem;
  text-align: center;
}

.img {
  width: 100%; 
}

.container__link{  
  border: none;
  border-radius: 8px;
  color: var(--white);
  display: block;
  font-family: var(--inter);
  font-size: 1.6rem;
  text-align: center;
  text-decoration: none;
  padding: 1.6rem;
  width: 51.2rem;
}

.container__link:hover {
  background: var(--light-blue);
  color: var(--background);
}


@media screen and (max-width: 1000px) and (orientation: portrait) {
  .container {
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;   
  }

  .container__title {
    font-size: 3.8rem;
  }

  .container__title, .container__paragraph {
    margin-left: 3rem;
  }

  .container__link {
    font-size: 2rem;
  }

  .container__image-container {
    margin: 3rem auto 0 auto;
  }

  .img {
    width: 80%; 
  }
  

}

@media screen and (max-width: 375px) {
  .container__title, .container__paragraph {
    margin-left: 2rem;
  }

  .container__title {
    font-size: 3rem;
  }

}
